.App {
  text-align: center;
}
.home {
  color: pink;
  padding-bottom: 2rem;
}
.App-link {
  color: #61dafb;
}

.footer {
  height: 5rem;
}

.login {
  width: 40%;
  margin: auto;
}

.clickreg {
  display: grid;
  justify-content: center;
  padding-top: 2rem;
  text-align: center;
}

.onepic {
  height: 20rem;
  width: 20rem;
}

.gridprod {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

